@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 flex justify-center items-center min-h-screen dark:bg-gray-800 dark:text-gray-200;
  font-family: 'Poppins', sans-serif;
}



input[type="number"]:focus {
  @apply outline-none ring-2 ring-green-500 dark:ring-green-400;
}
.box {
   -webkit-box-shadow: 10px 11px 47px -16px rgba(0,0,0,0.73);
-moz-box-shadow: 10px 11px 47px -16px rgba(0,0,0,0.73);
box-shadow: 10px 11px 47px -16px rgba(0,0,0,0.73);
}
.button1 {
 -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
}
.button {
 -webkit-box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.75);
}
